services:
  load_balancer:
    build:
      context: .
      dockerfile: Dockerfile
      # args:
      #   NODE_VERSION: 22.14.0
    ports:
      - "3000:3000" # Gateway listens on host port 3000
    restart: always
    environment:
      NODE_ENV: production
    volumes:
      - .:/usr/src/app
